<?xml version='1.0' encoding='utf-8'?>
<!-- DEV -->
<widget id="com.mevii.dev" version="1.0.3333" versionCode="103333" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- TEST -->
<!-- 
<widget id="com.mevii.test" version="1.0.3326" versionCode="103326" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
 -->
<!--  STAGING -->
<!-- 
<widget id="com.mevii.staging" version="1.0.3318" versionCode="103313" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
 -->
 <!--  PROD -->
<!-- <widget id="com.mevii" version="1.0.3320" versionCode="103320" xmlns:android="http://schemas.android.com/apk/res/android" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
 -->    
    <!-- TESTING -->
    <icon src="icon-testing.png" />
    <icon src="img/ios-testing/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="img/ios-testing/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/ios-testing/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="img/ios-testing/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="img/ios-testing/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="img/ios-testing/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <icon src="img/ios-testing/Icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/ios-testing/Icon-57@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/ios-testing/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/ios-testing/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="img/ios-testing/Icon-29.png" gap:platform="ios" width="29" height="29" />
    <icon src="img/ios-testing/Icon-29@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="img/ios-testing/Icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="img/ios-testing/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />

    <!-- STAGING-->
  <!--   <icon src="icon-staging.png" />
    <icon src="img/ios-staging/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="img/ios-staging/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/ios-staging/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="img/ios-staging/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="img/ios-staging/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="img/ios-staging/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <icon src="img/ios-staging/Icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/ios-staging/Icon-57@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/ios-staging/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/ios-staging/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="img/ios-staging/Icon-29.png" gap:platform="ios" width="29" height="29" />
    <icon src="img/ios-staging/Icon-29@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="img/ios-staging/Icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="img/ios-staging/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />
 -->
    <!-- PRODUCTION-->
<!--     <icon src="icon.png" />
    <icon src="img/ios/Icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="img/ios/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="img/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="img/ios/Icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="img/ios/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
    <icon src="img/ios/Icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/ios/Icon-57@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
    <icon src="img/ios/Icon-29.png" gap:platform="ios" width="29" height="29" />
    <icon src="img/ios/Icon-29@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="img/ios/Icon-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="img/ios/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />
 -->
    <name>Mevii</name>
    <description>
        Mevii is full of awesome.
    </description>
    <author email="support@mevii.com" href="http://www.mevii.com">
        Mevii
    </author>
    <preference name="permissions" value="none" />
    <!-- <preference name="orientation" value="portrait" /> -->
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="false" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="NewRelicApplicationToken" value="AA4a0f328a74b24d4538338466af7570bfb47660ec" />
    
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera"/>
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" spec="1.3.3" source="pgb" />
    <gap:plugin name="org.apache.cordova.file-transfer" spec="0.5.0" source="pgb" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="wellbload.cordova.appversion" version="0.1.4" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="org.crosswalk.engine" spec="1.3.0" source="pgb" />
    <gap:plugin name="cc.fovea.cordova.purchase" source="npm" version="4.1.0">
       <param name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzTKk+zBtFA1tQgRj43GBnvBa+cOrwYMER2BP9pAmdjPwJ0TFCgKk0bCpvqTEoZ0iFx/jQcPL8z8NrfXU65cY8aPcwTOkjg//Bkx37+rtnHRj3JL6SYFe78T0Tw5MewR9XEuRc0d/j3ZlOikYTvzbCqLwW1bmTxVG59rRByHdpbhsp0cQvsjq6K/d/jVeMzQ+/CqekvwIVtqTpZJBgJgUKgNWVwVfO5/CX2D9OvJeZypWyrXP9tuvbeTt1/JK188TKNDnB7BSF1mMwjy+2rRJwt6kYYk/Z+eOlUubILSJbfUB6nuzKVJf8fYjJyXvZWIP4lzAui7ET+MPDBCuzPOjxQIDAQAB"/>
    </gap:plugin>
    <gap:plugin name="onesignal-cordova-plugin" source="npm" />
    <gap:plugin name="com.newrelic.cordova" spec="1.0.0" source="pgb" />


    <allow-navigation href="*://*/*"/>
    <allow-intent href="*://*/*" />
    <!-- <allow-intent href="cdvfile://*" /> -->
    <access origin="*" />
    <access origin="cdvfile://*" />

    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />

    <icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />

    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />

    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />
    <gap:splash gap:platform="blackberry" src="res/screen/blackberry/screen-225.png" />

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/screen-ldpi-portrait.jpg" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/screen-mdpi-portrait.jpg" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/screen-hdpi-portrait.jpg" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.jpg" />

    <gap:splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <gap:splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <gap:splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <gap:splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <gap:splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>

    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />

    <feature name="DatePicker">
        <param name="ios-package" value="DatePicker" />
    </feature>

    <feature name="DatePickerPlugin">
        <param name="android-package" value="com.sharinglabs.cordova.plugin.datepicker.DatePickerPlugin"/>
    </feature>
    <feature name="Camera">
        <param name="ios-package" value="cordova-plugin-camera" />
    </feature>
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.CameraLauncher"/>
    </feature>


    <gap:plugin name="com.sharinglabs.cordova.plugin.datepicker" />
	<gap:plugin name="nl.x-services.plugins.calendar" version="4.2.4" />

</widget>
